* {
  margin: auto;
}

body {
  width: 300px;
  height: auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50%;
}

main {
  padding: 20px;
}

.block {
  display: block;
}

.title {
  text-align: center;
  padding: 20px;
  font-size: 1rem;
}

.sub_title {
  text-align: left;
  padding: 15px;
}

.article_row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 10px;
}

.article_row > a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
}

.icon {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.box {
  background-color: #ededed;
  border-radius: 5px;
}